@font-face {
    font-family: "mainFont";
    src: url(../src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
body{
    font-family: "mainFont";
}
.star-line{
    width: 75px;
    background-color: black;
    height: 3px;
    border-radius: 10px;
}
.star-icon{
    width: 40px;
    color: black;
}